<app-user-navbar></app-user-navbar>

<div class="main">
  <div class="background-image">
    <!-- Sign up form for provider registration -->
    <section class="signup">
      <div class="container">
        <div class="signup-content">
          <div class="signup-form">
            <h2 class="form-title">Register as Provider</h2>
            <form (submit)="onSubmit()" enctype="multipart/form-data">
              <div class="form-group">
                <label for="business-type">
                  <i class="zmdi zmdi-hotel"></i> <!-- You can replace this icon with an appropriate one -->
                </label>
                <select name="businessType" id="business-type" [(ngModel)]="businessType" required>
                  <option value="" disabled selected>Select Business Type</option>
                  <option value="Accommodation">Accommodation</option>
                  <option value="TourGuide">Tour Guide</option>
                  <option value="Restaurant">Restaurant</option>
                  <option value="Transportation">Transportation</option>
                </select>
              </div>

              <!-- Subcategory selection, shown conditionally based on businessType -->
              <div *ngIf="businessType === 'Accommodation' || businessType === 'Transportation'" class="form-group">
                <label for="business-subcategory">
                  <i class="zmdi zmdi-label"></i> <!-- You can replace this icon with an appropriate one -->
                </label>
                <select name="businessSubcategory" id="business-subcategory" [(ngModel)]="businessSubcategory" required>
                  <option value="" disabled selected>Select Subcategory</option>
                  <option *ngFor="let subcategory of subcategoryMap[businessType]" [value]="subcategory">{{ subcategory
                    }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="business-name">
                  <i class="zmdi zmdi-account material-icons-name"></i>
                </label>
                <input type="text" name="businessName" id="business-name" [(ngModel)]="businessName"
                  placeholder="Business Name" required />
              </div>
              <div class="form-group">
                <label for="business-location">
                  <i class="zmdi zmdi-pin"></i>
                </label>
                <input type="text" name="businessLocation" id="business-location" [(ngModel)]="businessLocation"
                  placeholder="Business Location" required />
<div id="map" style="height: 400px; margin-bottom: 20px;"></div>

              </div>
              <div class="form-group">
                <label for="business-description">
                  <i class="zmdi zmdi-file-text"></i>
                </label>
                <textarea name="businessDesc" id="business-description" [(ngModel)]="businessDesc"
                  placeholder="Business Description" required></textarea>
              </div>
              <div class="form-group">
                <label for="price">
                  <i class="zmdi zmdi-money"></i>
                </label>
                <input type="number" name="price" id="price" [(ngModel)]="price" [placeholder]="getPricePlaceholder()"
                  required />
              </div>
              <div class="form-group">
                <p class="fileInput">Business License</p>
                <label for="business-license-file">
                  <i class="zmdi zmdi-collection-pdf"></i>
                </label>
                <input type="file" name="businessLicense" id="business-license-file"
                  (change)="onFileChange($event, 'businessLicense')" required />
              </div>
              <div class="form-group">
                <p class="fileInput">Image of Yourself</p>
                <label for="image-self-file">
                  <i class="zmdi zmdi-account-box"></i>
                </label>
                <input type="file" name="imageSelf" id="image-self-file" (change)="onFileChange($event, 'imageSelf')"
                  required />
              </div>
              <div class="form-group">
                <p class="fileInput">Image of Your Service (Minimum 3 images required)</p>
                <label for="image-service-file">
                  <i class="zmdi zmdi-camera"></i>
                </label>
                <input type="file" name="imageService" id="image-service-file"
                  (change)="onFileChange($event, 'imageService')" multiple required />
              </div>
              <div class="form-group">
                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required />
                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree to all
                  statements in <a href="#" class="term-service">Terms of service</a></label>
              </div>
              <div class="form-group form-button">
                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
              </div>

              <div *ngIf="successMessage" class="alert alert-success">
                {{ successMessage }}
              </div>

            </form>
          </div>
          <div class="containerPartner" >
            <div class="row justify-content-center">
              <div class="col-md-9">
                <div class="card signup-card">
                  <div class="card-body">
                    <h2 class="card-title text-center">Become Our Partner</h2>
                    <div class="text-center">
                      <img src="../../assets/images/signup-image.jpg" alt="Sign Up Image" class="img-fluid rounded mb-4" style="max-width: 100%;">
                    </div>
                    <div class="benefits-description">
                      <p>Partner with us in Ubud and enjoy exclusive benefits including:</p>
                      <ul style="margin-top: 10px;">
                        <li>Direct access to a growing market of tourists eager to explore Ubud's unique offerings.</li>
                        <li>Collaborative promotional campaigns to increase your visibility.</li>
                        <li>Comprehensive support and training tailored for Ubud's tourism sector.</li>
                        <li>Insights and analytics to enhance your services and attract more customers.</li>
                        <li>Opportunities to network with other top tourism professionals in Ubud.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </section>
  </div>
</div>



<!--Footer-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>&copy; 2024 RUTE Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

