
    /* Custom header CSS */
      /*# backgroud image */


  .main {
    background-image: url('../../assets/images/background-image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  /* .container {
    padding-top: 50px;
  } */
    
    .navbar {
      background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
      height: 80px; /* Increased height */
      padding-left: 20px; 
      /* margin-left: 20px;  */
      /* Add margin to the left */
      padding-right: 20px;
      /* margin-right: 20px; */
       /* Add margin to the right */
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Drop shadow effect */
    }
    .navbar-brand img {
      max-height: 40px; /* Adjust logo height */
    }
    .navbar-nav .nav-link {
      padding: 0.5rem 1.5rem; /* Adjust padding */
    }
  
     /* footer */
     footer {
      background-color: #f8f9fa;
      color: #495057;
      padding: 20px 0;
      text-align: center;
      position: relative;
      bottom: 0;
      width: 100%;
    }

    .text-danger {
  font-size: 0.80rem; /* Smaller font size for error messages */
}

    .error-message {
      margin-top: -25px;
      margin-bottom: 0.75rem;
      /* padding-left: 40px;  */
    }

    /* Add styles for eye icon */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Adjust padding for input field to make space for eye icon */
.form-group input {
  padding-right: 40px; /* Adjust as needed */
}

.navbar-brand img {
  max-height: 28px; /* Adjust logo height */
}

/* responsive navbar */

@media (max-width: 992px) {
  .navbar-brand {
      margin-right: 0;
  }

  .navbar-collapse {
      justify-content: flex-start;
  }

  .form-inline {
      margin-top: 10px;
      margin-left: auto;
  }

  .navbar-nav {
      flex-direction: column;
      align-items: center;
  }

  .nav-item {
      margin-bottom: 10px;
  }

  .custom-select {
      width: auto;
  }
}

@media (max-width: 768px) {

  .navbar {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white !important;
    z-index: 9999; /* Ensure it's above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  }
  .navbar-collapse {
    margin-top: 80px;
      text-align: center;
      z-index: 9999;
    background-color: #f8f9fa; /* Example background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add drop shadow */
    

  }

  .navbar-nav {
      width: 100%;
  }

  .nav-item {
      margin-bottom: 5px;
  }

  .form-inline {
      margin-left: auto; /* Aligns the form to the right */
      margin-right: 10px; /* Add margin between the language selector and the burger icon */
  }

  .custom-select {
      margin-right: 10px; /* Adjusted to add spacing between selector and burger icon */
  }

  .dropdown-menu .dropdown-item {
    background-color: #f8f9fa; /* Example background color */
}

/* CSS */
.navbar-toggler {
  position: fixed;
  top: 15px; /* Adjust as needed */
  right: 15px; /* Adjust as needed */
  z-index: 9999; /* Ensure it's above other content */
}

/* CSS */
.form-inline {
  position: fixed;
  top: 15px; /* Adjust as needed */
  right: 80px; /* Adjust as needed */
  z-index: 9999; /* Ensure it's above other content */
}

/* CSS */
.navbar-brand {
  position: fixed;
  top: 15px; /* Adjust as needed */
  left: 15px; /* Adjust as needed */
  z-index: 9999; /* Ensure it's above other content */
}



}

/* end of responsive navbar */

.forgot-password-link {
  font-size: 14px;
  text-decoration: none;
  padding-top: 20px;
  color:#000000b6;
}

.forgot-password-link:hover {
  color: #222;
}

