@import "flatpickr/dist/flatpickr.min.css";


.map-container {
    height: 400px; /* Adjust this height as needed */
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
  }
  
  .calendar-icon {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
  }
  
  .calendar-icon i {
    font-size: 1.2em;
  }
  